/* hex:	#00ACF0*/


#history a:hover {
  border-color: #00acf0;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
}

#navbarNavDropdown > .nav-item > a:hover {
  color: #00acf0 !important;
}

footer {
  font-size: 90%;
}




