/* hex:	#00ACF0*/


#history a:hover {
  border-color: #00acf0;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
}

a.registerLink:hover {
  background-color: #00acf0;
}


a.registerLink:hover, a..registerLink:active {
  color: red;
}